.card {
    height: 100%;
}

.teacher-card-img-container {
    width: 100%;
    border-bottom: 1px solid var(--bs-card-border-color);
}

.teacher-card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px 20px 20px rgba(108, 147, 0, 0.1019607843);

    img {
        border-radius: 50%;
    }
}