.avatar-container {
    position: relative;
    width: fit-content;
}

.box-shadow-avatar{
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;

    &.avatar-placeholder {
        background-image: url('/assets/images/default_avatar.jpg');
    }
}


.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color:#2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.8rem;
    top: 70%;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    i {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}

.create-teacher-card {
    margin: auto;
    width: 45%;
}

.create-teacher-form {
    label, input, textarea {
        font-size: 1.2rem;
    }

}

.profile-picture-form {
    margin: auto;
}
