<nav class="navbar navbar-expand-lg bg-sa-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">School Admin <b><i class="bi bi-bank"></i> </b> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/teachers" routerLinkActive="active" href="#">Teachers</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/classes" routerLinkActive="active" aria-current="page" href="#"> Classes </a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link"   routerLink="/catalog" routerLinkActive="active" href="#">Catalog</a>
        </li>
      </ul>
      <form class="d-flex ms-0 justify-content-start" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      
      <li class="list-group-item dropdown mx-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i> Cosmin Dumitrache
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item disabled" href="#" >Disabled action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>

<main class="main">
  {{ baseUrl }}
  <div *ngFor="let school of schools" class="d-flex">
    <div> {{ school.id }} </div>
    <div> {{ school.shortName }} </div>
    <div> {{ school.name }} </div>
  </div>
  <router-outlet />
</main>



