/* You can add global styles to this file, and also import other style files */

:root {
  --bs-nav-link-font-size: 1.4rem;
}

body {
  background-color: lightblue !important;
}

main {
  background-color: white;
  min-height: 100vh;
  // overflow-y: scroll;
}

.navbar li.nav-item:hover a {
  text-decoration: underline;
}

.navbar li.nav-item .nav-link.active {
    background-color: lightblue;
}

.navbar.bg-sa-light {
    background-color: #e3f2fd;
}

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.btn-navigate-left {
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
}

.btn-navigate-right {
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;
}

.mat-datepick-form-field {
  width: 100%;

 

  div.mat-mdc-text-field-wrapper {
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    
  
    div.mat-mdc-form-field-focus-overlay {
      display: none;
    }

    div.mat-mdc-form-field-flex {
      height: 2.4rem;

      .mat-mdc-form-field-infix {
        display: flex;
        height: 100%;
        min-height: auto;
        padding: 0.2rem 0;
      }
    }

    div.mdc-line-ripple {
      display: none;
    }
  }

  div.mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  &.mat-focused {

    div.mat-mdc-text-field-wrapper {
      border-color: #86b7fe;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
  }
}

.form-group.required label:after {
  content:"*";
  color: var(--bs-red);
}

.sch-fs-12 {
  font-size: 12px;
}

.flex-grow-2 {
  flex-grow: 2;
}

label.required::after{
  content: "*";
  color: var(--bs-red);
}

.profile-picture-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 10px 20px 20px rgba(108, 147, 0, 0.1019607843);

  img {
      border-radius: 50%;
  }

}

.accordion-btn {
  border: none;
  background: none;
  &.collapsed {
    transform: rotate(180deg);
  }
}
