<div>
    <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-primary btn-lg" (click)="openCreateClassModal()">
            <i class="bi bi-plus-square me-2" > </i><strong>Add class</strong>
        </button>
    </div>
    <div *ngIf="!classes" class="alert alert-danger" role="alert">
        No classes found! Consider adding one.
    </div>

    <div class="d-flex justify-content-center class-selector-wrapper">
        <div *ngIf="selectedClass" class="d-flex class-selector">
            <button class="btn btn-secondary btn-navigate-left" (click)="moveClassLeft()" [disabled]= "selectedClassIndex<=0" > 
                <i class="bi bi-chevron-left"></i> </button>
            <div class="border flex flex-grow-1">
                <div class="d-flex flex-column justify-content-center align-items-center class-display" > 
                    <span class="badge bg-warning text-dark class-status"> {{selectedClass.status}}</span>
                    <span class="fs-3 fw-bold"> Class {{ selectedClass.grade | classdisplay: selectedClass.label }} </span>
                </div>
                <div class="d-flex justify-content-center mt-1">
                    <div class="stepper-wrapper stepper-status">
                        <div class="stepper-item">
                            <div class="step-counter">New</div>
                        </div>
                        <div class="stepper-item" >
                            <div class="step-counter"> Open </div>
                        </div>
                        <div class="stepper-item">
                            <div class="step-counter">Configured</div>
                        </div>
                        <div class="stepper-item">
                            <div class="step-counter">Closed</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary btn-navigate-right" (click)="moveClassRight()" [disabled]= "selectedClassIndex>=classes.length-1" > <i class="bi bi-chevron-right"></i> </button>
        </div>
    </div>
 
    <nav class="mt-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-courses-tab" data-bs-toggle="tab" href="#nav-courses" role="tab" aria-controls="nav-courses" aria-selected="true">
                Courses
            </a>
            <a class="nav-link" id="nav-students-tab" data-bs-toggle="tab" href="#nav-students" role="tab" aria-controls="nav-students" aria-selected="false">
                Students
            </a>
    
        </div>
    </nav>
    <div class="tab-content" id="class-nav-content">
        <div class="tab-pane fade show active" id="nav-courses" role="tabpanel" aria-labelledby="nav-courses-tab">
            <div *ngIf="selectedClass">
                 <class-courses [schoolId]="schoolId" [classId]="selectedClass!.id"></class-courses>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-students" role="tabpanel" aria-labelledby="nav-students-tab">
            <div *ngIf="selectedClass">
                <class-students [schoolId]="schoolId" [classId]="selectedClass!.id"> </class-students>
            </div>
        </div>
    </div>

</div>
